.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-large {
    font-size: $font-size-normal * 2;
}

.text-extra-large {
    font-size: $font-size-normal * 2.5;
}